{% extends "base.html" %}

{% block content %}
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='gamepad.js') }}"></script>
    <style>
        .axes {
            padding: 1em;
        }
    </style>

    <script src="{{ url_for('static', filename='signalling.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

</head>
<h1> Hello {{user.username}}</h1>

<video id='v' width="1280" height="720" poster="{{ url_for('static', filename='droneLogo.png') }}"></video>
<label id="address" hidden="true"/>{{ video_url }}</label>
<button id='start'>Start Streaming</button>
<button id='stop'>Stop Streaming</button>

    <div>
        <button id="record" disabled>Start Recording</button>
        <button id="download" disabled>Download</button>
    </div>

    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{{ url_for('static', filename='recorder.js') }}"></script>


{% endblock %}
